// ******************* DropDown Styling of Navbar *************************** //

.header {
    .navbar {
        .nav-container {
            .list-items {
                li {
                    position: relative;

                    &:hover>ul {
                        max-height: 100px;
                        margin-top: 10px;
                        transition: max-height 250ms ease-out;
                    }

                    &:hover>.aesthetic-dropdown {
                        max-height: 185px;
                    }


                    &:hover>.aesthetic-dropdown-inner {
                        max-height: 260px;
                        transition: max-height 500ms ease;
                    }

                    &:hover>.aesthetic-dropdown-inner2 {
                        max-height: 120px;
                        transition: max-height 500ms ease;
                    }

                    &:hover>.aesthetic-dropdown-inner3 {
                        max-height: 150px;
                        transition: max-height 500ms ease;
                    }

                    ul {
                        position: absolute;
                        list-style: none;
                        background-color: #fff;
                        width: 130px;
                        box-shadow: 0px 0px 10px 0px #07070710;
                        left: 0px;
                        overflow: hidden;
                        margin-top: 0;
                        max-height: 0;
                        top: 28px;


                        a {
                            margin: 0;
                            width: 100%;
                            display: block;
                            font-size: 13px;
                            width: 109%;
                            margin-left: -10px;
                            padding: 10px 15px;
                            top: 0;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                            transition: all 200ms ease;

                            &:hover {
                                color: #fff;
                                background-color: #0632AD;
                            }
                        }
                    }

                    .aesthetic-dropdown {
                        width: 250px;

                        .aesthetic-dropdown-inner {
                            left: -250px;
                            top: -10px;
                            width: 250px;

                            .aesthetic-dropdown-inner2 {
                                left: -130px;
                                top: -10px;

                                li {
                                    a {
                                        width: 119%;
                                        margin-left: -10px;
                                    }
                                }
                            }

                            .aesthetic-dropdown-inner3 {
                                left: -130px;
                                top: -10px;

                                li {
                                    a {
                                        width: 119%;
                                        margin-left: -10px;
                                    }
                                }
                            }

                            &:hover {
                                overflow: visible;
                            }
                        }

                        &:hover {
                            overflow: visible;
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1000px) {

    .header {
        .navbar {
            .nav-container {
                .list-items {

                    li {
                        position: relative;
                        width: 100%;
                        a {
                            &.active~ul {
                                max-height: 200px;
                                margin-top: 0;
                            }

                            &.active~.aesthetic-dropdown {
                                max-height: 999px;
                            }

                            &.active~.aesthetic-dropdown-inner {
                                max-height: 999px;
                            }


                            &.active~.aesthetic-dropdown-inner2 {
                                max-height: 999px;
                            }


                            &.active~.aesthetic-dropdown-inner3 {
                                max-height: 999px;
                            }
                        }

                        ul {
                            clear: both;
                            position: static;
                            list-style: none;
                            background-color: transparent;
                            width: 120%;
                            margin-left: -15px;
                            box-shadow: none;
                            left: 0px;
                            overflow: hidden;
                            margin-top: 0px;
                            max-height: 0;
                            transition: max-height 250ms ease-in;

                            li {
                                padding: 5px 18px;

                                a {
                                    margin: 0;
                                    width: 100%;
                                    display: block;
                                    font-size: 14px;
                                    width: 105%;
                                    margin-left: -10px;
                                    top: 0;
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                    transition: all 200ms ease;

                                    &:hover {
                                        color: #fff;
                                        background-color: #0632AD;
                                    }
                                }
                            }
                        }

                        .aesthetic-dropdown {
                            width: 140%;
                            margin-left: -20px;


                            .aesthetic-dropdown-inner {
                                margin-top: 0px;
                                margin-left: -50px;
                                padding: 0 0 0 25px;
                                width: 120%;
                                transition: max-height 500ms ease;

                                .aesthetic-dropdown-inner2 {
                                    margin-top: 0;
                                    width: 100%;
                                    margin-left: 0px;

                                    li {
                                        padding: 5px 15px;


                                        a {
                                            width: 100%;
                                            margin-left: -10px;
                                            padding-left: 45px;
                                        }
                                    }
                                }

                                .aesthetic-dropdown-inner3 {
                                    margin-left: -25px;
                                    padding: 0 0 0 10px;
                                    width: 100%;
                                    margin-top: 0;

                                    li {
                                        a {
                                            width: 100%;
                                            margin-left: 0;
                                            padding-left: 45px;
                                        }
                                    }
                                }

                                &:focus-within {
                                    overflow: visible;
                                }

                                li {
                                    a {
                                        padding-left: 50px;
                                    }
                                }
                            }

                            &:focus-within {
                                overflow: visible;
                            }

                            li {
                                a {
                                    padding-left: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}