// Main Section#
#main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/hero.png);
    height: 64vh;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;

    .main-container {
        flex-direction: column;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        color: #fff;
        text-align: center;
        height: 100%;

        .main-inner {
            flex-direction: column;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            color: #fff;
            text-align: center;
            margin-top: -45px;

            .small {
                @include sub-paragraph(26px);
                font-weight: 500;
                padding-bottom: 10px;
            }

            .large {
                @include heading(60px);
                background-color: $primary-color;
                padding: 0 30px;
                margin: 10px 0;
            }

            .paragraph {
                width: 40%;
                text-align: center;
                line-height: 1.5;
                padding: 5px 0;
                @include paragraph(20px);
            }
        }
    }
}

// ********* APPOINTMENT FORM ************** //

#appointment-form {
    background-color: #fff;
    border: 1px solid #FAFAFC;
    border-radius: 8px;
    width: 100%;
    z-index: 1;
    position: relative;
    margin: -80px auto 0 auto;
    box-shadow: 0px 2px 5px #adadad4f;

    .form-container {
        padding: 25px 30px;

        .form-head {
            padding-bottom: 10px;
            @include sub-heading(24px);
            font-weight: 600;
        }

        form {
            display: flex;
            justify-content: start;
            align-items: center;

            .inputs {
                padding: 15px 10px;
                width: 100%;

                &:first-child {
                    padding-left: 0;
                }

                input,
                select {
                    width: 100%;
                    height: 54px;
                    border-radius: 7px;
                    padding: 0 15px;
                    background-color: transparent;
                    outline: none;
                    border: 1px solid #ADADAD;
                    font-size: 15px;
                    transition: all 0.3s ease-in-out;

                    &::placeholder {
                        font-size: 14px;
                    }
                }

                &:focus-within input {
                    border-color: $primary-color;
                }
            }


        }

        .btn-submit {
            display: flex;
            justify-content: center;
            margin-left: -30px;

            button {
                width: 100%;
                max-width: 70%;
                height: 50px;
                background-color: #0632AD;
                border: none;
                color: #fff;
                border-radius: 7px;
                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

                &:hover {
                    background-color: #2350cd;
                }
            }
        }
    }
}

// ************ SERVICES SECTION ******************//
.background-body {
    background-color: #FAFAFC;
    position: relative;
    margin-top: -120px;
}

#services {
    padding: 160px 0 60px 0;

    .services-container {
        .service-head {
            text-align: center;
            padding: 0px 0 20px 0;

            h1 {
                font-weight: 600;
                @include heading(35px);
            }

            p {
                padding: 10px 0 15px 0;
                font-weight: 300;
                @include sub-paragraph(18px);
            }
        }

        .service-col {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, auto));
            justify-items: center;
            align-items: center;
            margin: 0 auto;
            column-gap: 0;
            row-gap: 30px;

            .card {
                width: 80%;
                background-color: #fff;
                padding: 0 0 20px 0;
                text-align: center;
                border-radius: 13px;
                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                &:hover {
                    transform: scale(1.04);
                }

                .img-col {
                    width: 100%;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .context {
                    padding: 15px 0 0 0;

                    h2 {
                        font-weight: 500;
                        font-size: 16px;
                    }
                }

            }
        }
    }
}

// ************* ABOUT SECTION ******************//
#about {
    padding: 33px 0 40px 0;

    .about-container {

        .about-head {
            padding-bottom: 20px;
            text-align: center;

            h1 {
                @include heading(45px);
            }

            p {
                font-weight: 400;
                @include sub-heading(18px);
                padding: 15px 0;

            }
        }

        .about-row {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, auto));
            justify-items: center;
            align-items: start;
            padding: 12px 0;
            text-align: center;

            .about-col {
                padding: 0 20px 20px 20px;

                img {
                    width: 40px;
                    pointer-events: none;
                    user-select: none;
                    padding-bottom: 10px;
                }

                .content {
                    h2 {
                        padding-bottom: 10px;
                        font-weight: 600;
                        @include sub-heading(18px);
                    }

                    p {
                        font-size: 17px;
                        width: 90%;
                        margin: auto;
                        font-weight: 300;
                    }
                }
            }

            .about-col-3 {
                .content {
                    p {
                        width: 100%;
                    }
                }
            }
        }

        #mobile-col {
            display: none;
        }

        .contact-btn {
            text-align: center;
            width: 100%;
            padding-top: 10px;

            a {
                button {
                    width: 220px;
                    height: 55px;
                    background-color: $primary-color;
                    border: 1px solid $primary-color;
                    color: $secondary-text-color;
                    border-radius: 8px;
                    @include paragraph(16px);
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #2350cd;
                    }
                }
            }
        }

    }
}

// ************** PROFILE SECTION ****************//
#profile {
    background-color: #FAFAFC;
    margin: 20px 0;

    .profile-container {
        padding: 50px 20px;
        display: flex;
        justify-content: center;
        align-items: start;
        margin-right: -247px;

        .mobile {
            display: none;
        }

        .profile-img {
            display: inline-block;

            img {
                width: 100%;
                max-width: 385px;
                pointer-events: none;
                user-select: none;
            }
        }

        .profile-context {
            padding: 15px 0 10px 40px;

            .head {
                font-weight: 600;
                @include heading(45px);
                text-transform: uppercase;
                color: $primary-color;
            }

            .qualifi {
                font-style: normal;
                font-weight: 400;
                @include sub-paragraph(24px);
                width: 60%;
                color: #1F1D1D;
                padding: 10px 0 10px 0;

            }

            .expert li {
                padding: 2px 0;
                font-weight: 300;
                font-size: 15px;
                color: #505050;
            }
        }

    }
}

/************* CAROUSAL SECTION *****************/
.carousal-head {
    text-align: center;
    padding: 15px 0 10px 0;

    h1 {
        font-weight: 600;
        @include heading(42px);
        text-transform: capitalize;
    }
}

#carousal-container {
    max-width: 2415px;
}

.swiper {
    width: 100%;
    padding-bottom: 50px !important;

    .swiper-wrapper {
        width: 100% !important;

        .swiper-slide {
            width: 100% !important;
        }

        .video {
            width: 50em !important;
            padding: 2em 0em;
            display: flex !important;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 10px;

            iframe {
                width: 100%;
                height: 450px;

            }
        }
    }

    .custom-btn {
        color: #fff !important;
        font-size: 14px !important;
        background-color: #0632AD;
        border-radius: 50%;
        width: 35px !important;
        height: 35px !important;

        &::after {
            font-size: 18px !important;
            font-weight: 700 !important;

        }

        &:hover {
            background-color: #2350cd;
        }
    }
}

/************ Appointment Form *************/
.appointment-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    .appoint-form {
        background: linear-gradient(0deg, rgba(19,56,176,1) 0%, rgba(0,151,255,1) 100%);
        box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.07);
        border-radius: 17px;
        width: 100%;
        max-width: 1163px;
        padding: 20px 30px;
        color: #fff;

        .form-head {
            text-align: center;
            padding: 30px 0 10px 0;

            h1 {
                font-weight: 600;
                @include heading(42px);
                text-transform: capitalize;
            }
        }

        .apointmentform-body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px 0;

            .input-row {
                padding: 20px 40px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                width: 100%;
                max-width: 1050px;

                &:focus-within .animation-left {
                    width: 88%;

                }

                .input-field {
                    width: 100%;
                    padding: 0 20px;
                    position: relative;

                    &:focus-within .animation-left {
                        width: 94%;
                    }

                    input,
                    select {
                        border: none;
                        border-bottom: 1px solid #fff;
                        background-color: transparent;
                        color: #fff;
                        width: 100%;
                        padding: 0 10px 15px 15px;
                        font-size: 16px;
                        outline: none;
                        transition: all 0.3s ease-in-out;
                    }

                    option {
                        color: #000;
                        background-color: #f5f5f5;
                        font-size: 14px;
                    }

                    .animation-left {
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 1px;
                        background-color: #000;
                        bottom: 0;
                        left: 20px;
                        transition: all 0.3s ease-in-out;
                    }
                }

                .text-input {
                    width: 100%;
                    max-width: 100%;
                    min-width: 67%;
                    height: 100%;
                    max-width: 100%;
                    min-height: 50%;

                    textarea {
                        border: none;
                        border-bottom: 1px solid #fff;
                        background-color: transparent;
                        color: #fff;
                        width: 543px;
                        max-width: 100%;
                        min-width: 100%;
                        height: 100%;
                        overflow-y: auto;
                        min-height: 100%;
                        max-height: 100%;
                        padding: 0 10px 0 15px;
                        font-size: 16px;
                        outline: none;
                    }
                }
            }
        }

        .submit-btn {
            text-align: center;
            padding: 0 0 20px 0;

            #send-form {
                width: 200px;
                height: 55px;
                background: #FFFFFF;
                border-radius: 12px;
                border: 1px solid #fff;
                color: #1978D6;
                text-transform: uppercase;
                font-size: 17px;
                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

                &:hover {
                    background-color: transparent;
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
        }
    }
}


// ******* MEDIA QUERY *******//

// 1300px For Extra large Devices
// 1100px For large Devices
// 900px For Medium Devices
// 600px For Small Devices
// 400px For Extra Small Devices

@media only screen and (max-width:1300px) {

    // ************* MAIN SECTION ***************//
    #main {
        height: 60vh;

        .main-container {
            .main-inner {
                .large {
                    @include heading(50px);
                }

                .paragraph {
                    width: 50%;
                    @include paragraph(17px);
                }
            }
        }
    }

    // ********* APPOINTMENT FORM *****************//
    #appointment-form {
        width: 95%;

        .form-container {
            form {
                .inputs {
                    input {
                        &::placeholder {
                            font-size: 12px;
                        }
                    }
                }

                .btn-submit {
                    margin-left: 0;

                    button {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    #services {
        padding: 160px 0 60px 0;

        .services-container {
            .service-col {
                grid-template-columns: repeat(auto-fit, minmax(250px, auto));
            }
        }

        // ********** ABOUT SECTION **************//
        #about {
            .about-container {
                .about-head {
                    h1 {
                        font-size: 38px;

                    }

                    p {
                        @include sub-paragraph(16px);
                    }
                }

                .about-row {
                    .about-col {
                        padding: 0 0 20px 0;

                        .content {
                            p {
                                font-size: 16px;
                                width: 95%;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width:1100px) {

        // ************* MAIN SECTION ***************//
        #main {
            height: 55vh !important;

            .main-container {
                .main-inner {
                    .small {
                        @include sub-paragraph(24px);
                    }

                    .large {
                        @include heading(45px);
                    }

                    .paragraph {
                        @include paragraph(16px);
                    }
                }
            }
        }

        // ********** ABOUT SECTION **************//
        #about {
            .about-container {
                .about-head {
                    h1 {
                        font-size: 38px;

                    }

                    p {
                        @include sub-paragraph(16px);
                    }
                }

                #mobile-col {
                    display: block;

                    .about-col {
                        padding: 0 0 20px 0;

                        .content {
                            p {
                                font-size: 16px;
                                width: 55%;
                                margin: auto;
                            }
                        }
                    }

                }

                .about-row {
                    .about-col-3 {
                        display: none;
                    }

                    .about-col {
                        padding: 0 0 20px 0;

                        .content {
                            p {
                                font-size: 16px;
                                width: 75%;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }

        // ********** PROFILE SECTIOM ****************//
        #profile {
            background-color: #FAFAFC;
            margin: 20px 0;

            .profile-container {
                margin-right: 0;

                .profile-img {
                    display: inline-block;

                    img {
                        width: 100%;
                        max-width: 420px;
                        pointer-events: none;
                        user-select: none;
                    }
                }

                .profile-context {
                    padding: 10px 0 10px 45px;

                    .head {
                        font-weight: 600;
                        @include heading(40px);
                        text-transform: uppercase;
                        color: $primary-color;
                    }

                    .qualifi {
                        font-style: normal;
                        font-weight: 400;
                        @include sub-paragraph(22px);
                        width: 70%;
                        color: #1F1D1D;
                        padding: 10px 0 10px 0;
                    }

                    .expert li {
                        padding: 2px 5px;
                        font-weight: 300;
                        font-size: 15px;
                        color: #505050;
                    }
                }

            }
        }

        // ********** APOINTMENT FORM 2
        .appointment-form-container {
            width: 95%;
            margin: auto;

            .appoint-form {
                .apointmentform-body {
                    .input-row {
                        .input-field {
                            textarea {
                                padding: 0 10px 15px 15px;
                            }
                        }
                    }
                }
            }
        }

    }

    @media only screen and (max-width:1000px) {

        // ************* MAIN SECTION ***************//
        #main {
            height: 45vh !important;

            .main-container {
                .main-inner {
                    margin-top: 0;

                    .small {
                        @include sub-paragraph(17px);
                    }

                    .large {
                        padding: 6px 20px;
                        @include heading(45px);
                    }

                    .paragraph {
                        width: 60%;
                        @include paragraph(17px);
                    }
                }
            }
        }

        // ******** APPOINTMENT FORM ********//
        #appointment-form {
            display: none;
        }

        // ********* SERVICES SECTION ****************//
        .background-body {
            margin: 0;
        }

        #services {
            padding-top: 25px;
        }


        // ********** ABOUT SECTION **************//
        #about {
            padding-bottom: 20px;

            .about-container {
                .about-head {
                    h1 {
                        font-size: 35px;

                    }

                    p {
                        @include sub-paragraph(15px);
                    }
                }

                .about-row {
                    .about-col-3 {
                        display: none;
                    }

                    .about-col {
                        padding: 0 0 20px 0;

                        .content {
                            h2 {
                                @include sub-heading(17px);
                            }

                            p {
                                font-size: 16px;
                                width: 75%;
                                margin: auto;
                            }
                        }
                    }
                }

                #mobile-col {
                    display: block;

                    .about-col {
                        padding: 0 0 20px 0;

                        .content {
                            h2 {
                                @include sub-heading(17px);
                            }

                            p {
                                font-size: 16px;
                                width: 55%;
                                margin: auto;
                            }
                        }
                    }

                }
            }
        }

        // ********** PROFILE SECTIOM ****************//
        #profile {
            background-color: #FAFAFC;
            margin: 20px 0;

            .profile-container {
                flex-wrap: wrap;
                padding: 20px 0;

                .mobile {
                    display: block;
                    text-align: center;

                    .head {
                        display: block !important;
                    }

                    .qualifi {
                        display: block !important;
                        margin: auto;
                    }
                }

                .profile-img {
                    display: inline-block;

                    img {
                        width: 100%;
                        max-width: 370px;
                        pointer-events: none;
                        user-select: none;
                    }
                }

                .profile-context {
                    padding: 10px 0 10px 0px;

                    .head {
                        display: none;
                    }

                    .qualifi {
                        display: none;
                    }

                    .expert li {
                        padding: 2px 5px;
                        font-weight: 300;
                        font-size: 15px;
                        color: #505050;
                    }
                }

            }
        }

        /************* CAROUSAL SECTION *****************/
        .carousal-head {
            padding: 10px 0 10px 0;

            h1 {
                font-weight: 600;
                @include heading(35px);
                text-transform: capitalize;
            }

            p {
                padding-top: 15px;
            }
        }

        .swiper {
            width: 100%;
            padding-bottom: 50px;

            .swiper-wrapper {

                .video {
                    width: 35em !important;

                    iframe {
                        width: 100%;
                        height: 400px;

                    }
                }
            }
        }
    }


    @media only screen and (max-width: 700px) {

        // ********** MAIN SECTION *************//
        #main {
            height: 40vh !important;

            .main-container {
                text-align: center;

                .main-inner {

                    .small {
                        @include sub-paragraph(17px);
                        padding-bottom: 0;
                    }

                    .large {
                        @include heading(38px);
                    }

                    .paragraph {
                        width: 70%;
                        @include paragraph(17px);
                    }
                }
            }
        }

        // ********* SERVICES SECTION ****************//
        #services {
            .services-container {
                .service-head {
                    h1 {
                        @include heading(30px);
                    }

                    p {
                        @include sub-paragraph(17px);
                    }
                }

            }
        }

        // ********** ABOUT SECTION **************//
        #about {
            .about-container {
                .about-head {
                    h1 {
                        font-size: 32px;

                    }

                    p {
                        @include sub-paragraph(16px);
                        width: 70%;
                        margin: auto;
                    }
                }

                .about-row {
                    .about-col-3 {
                        display: none;
                    }

                    .about-col {
                        padding: 0 0 20px 0;

                        .content {
                            h2 {
                                @include sub-heading(17px);
                            }

                            p {
                                font-size: 16px;
                                width: 85%;
                                margin: auto;
                            }
                        }
                    }
                }

                #mobile-col {
                    display: block;

                    .about-col {
                        padding: 0 0 20px 0;

                        .content {
                            h2 {
                                @include sub-heading(17px);
                            }

                            p {
                                font-size: 16px;
                                width: 65%;
                                margin: auto;
                            }
                        }
                    }

                }

                .contact-btn {
                    a {
                        button {
                            width: 180px;
                            height: 52px;
                            @include paragraph(15px);
                        }
                    }
                }
            }
        }

        // ********** PROFILE SECTIOM ****************//
        #profile {
            background-color: #FAFAFC;
            margin: 20px 0;

            .profile-container {
                flex-wrap: wrap;
                padding: 20px 0;

                .mobile {

                    .head {
                        display: block !important;
                        @include heading(35px);
                    }

                    .qualifi {
                        display: block !important;
                        margin: auto;
                        @include sub-paragraph(20px);

                    }
                }

                .profile-img {

                    img {
                        max-width: 350px;
                    }
                }

                .profile-context {
                    .expert {
                        li {
                            @include sub-paragraph(14px);
                            margin-left: 30px;
                            padding-top: 8px;
                        }
                    }
                }

            }
        }

        // ************ CAROUSAL SECTION **************//
        .carousal-head {
            padding: 10px 0 10px 0;
        }

        .carousal-head h1 {
            @include heading(30px);
        }

        .swiper {
            width: 100%;
            padding-bottom: 50px;

            .swiper-wrapper {

                .video {
                    width: 35em !important;

                    iframe {
                        width: 100%;
                        height: 450px;

                    }
                }
            }
        }

        // ********** APOINTMENT FORM 2
        .appointment-form-container {
            width: 95%;
            margin: auto;

            .appoint-form {
                .form-head {
                    h1 {
                        font-size: 29px;
                    }
                }

                .apointmentform-body {
                    padding: 0px 0 20px 0;

                    .input-row {
                        padding: 20px 0 0 0;
                        flex-direction: column;

                        &:last-child {
                            padding-top: 0;
                        }

                        .input-field {
                            padding: 20px 0;

                            &:focus-within .animation-left {
                                width: 100%;

                            }

                            .animation-left {
                                width: 0%;
                                bottom: 20px;
                                left: 0;
                            }

                            textarea {
                                padding: 0 10px 15px 15px;
                            }



                        }
                    }
                }
            }
        }
    }


    @media only screen and (max-width:500px) {

        // Main Section
        #main {
            height: 40vh !important;

            .main-container {
                text-align: center;

                .main-inner {
                    .small {
                        @include sub-paragraph(18px);
                        padding-bottom: 0px;
                    }

                    .large {
                        @include heading(30px);
                        padding: 6px 15px;
                    }

                    .paragraph {
                        padding: 0 15px;
                        width: 100%;
                        @include paragraph(15px);
                        font-weight: 400;

                    }
                }
            }
        }

        // ******** APPOOINTMENT FORM **************//
        .form-popup {
            .form-popup-container {
                padding: 20px 25px;

                .form-head {
                    h2 {
                        font-size: 22px;
                        font-weight: 600;
                    }
                }
            }
        }

        // ********* SERVICES SECTION ****************//
        #services {
            .services-container {
                .service-head {
                    h1 {
                        @include heading(24px);
                    }

                    p {
                        @include sub-paragraph(16px);
                        padding: 10px 15px;
                    }
                }

                .service-col {
                    .card {
                        max-width: 70%;
                    }
                }
            }
        }

        // ********** ABOUT SECTION **************//
        #about {
            .about-container {
                .about-head {
                    h1 {
                        font-size: 23px;
                        padding: 0 8px
                    }

                    p {
                        @include sub-paragraph(15px);
                        width: 90%;
                        margin: auto;
                    }
                }

                .about-row {
                    .about-col-3 {
                        display: none;
                    }

                    .about-col {
                        padding: 0 0 20px 0;

                        img {
                            width: 40px
                        }

                        .content {
                            h2 {
                                @include sub-heading(16px);
                            }

                            p {
                                font-size: 14px;
                                width: 95%;
                                margin: auto;
                            }
                        }
                    }
                }

                #mobile-col {
                    display: block;

                    .about-col {
                        padding: 0 0 20px 0;

                        img {
                            width: 40px
                        }

                        .content {
                            h2 {
                                @include sub-heading(16px);
                            }

                            p {
                                font-size: 14px;
                                width: 95%;
                                margin: auto;
                            }
                        }
                    }

                }
            }
        }

        // ********** PROFILE SECTIOM ****************//
        #profile {
            background-color: #FAFAFC;
            margin: 20px 0;

            .profile-container {
                flex-wrap: wrap;
                padding: 20px 0;

                .mobile {

                    .head {
                        display: block !important;
                        @include heading(30px);
                    }

                    .qualifi {
                        display: block !important;
                        margin: auto;
                        @include sub-paragraph(18px);
                        width: 100%;
                        padding: 10px 10px;

                    }
                }

                .profile-img {

                    img {
                        max-width: 280px;
                    }
                }

                .profile-context {
                    .expert li {
                        @include sub-paragraph(14px);
                        margin-left: 20px;
                    }
                }

            }
        }

        // ************ CAROUSAL SECTION **************//
        .carousal-head {
            padding: 10px 0 5px 0;
        }

        .carousal-head {
            h1 {
                @include heading(28px);
            }
        }

        .swiper {
            width: 100%;
            padding-bottom: 50px;

            .swiper-wrapper {

                .video {
                    width: 25em !important;

                    iframe {
                        width: 90%;
                        height: 267px;

                    }
                }
            }
        }

        // ********** APOINTMENT FORM 2
        .appointment-form-container {
            background: linear-gradient(0deg, rgba(19,56,176,1) 0%, rgba(0,151,255,1) 100%);
            width: 95%;
            margin: auto;

            .appoint-form {
                .form-head {
                    h1 {
                        font-size: 23px !important;
                    }
                }

            }
        }
    }
}